@use "../../sass/abstracts/" as abs;

.projects {
  grid-area: projects;

  display: flex;
  flex-direction: column;
  gap: abs.rem(22);

  @include abs.breakpoint(medium) {
    flex-direction: row;
  }

  @include abs.breakpoint(xlarge) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: abs.rem(30);
  }
}
