@use "../abstracts/" as abs;

// Box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Reset margins

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

// Set initial font weights

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

// Set up the body
body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: 500;
  background-color: var(--clr-gray);
  color: var(--clr-medium);
  line-height: 1.5;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  // Using aic, causes the padding to not work on smaller screens
  // investigate further.
  // align-items: center;

  // overflow-x: hidden;

  &.noscroll {
    overflow: hidden;
  }
}

#root {
  display: flex;
  flex-direction: column;
  gap: abs.rem(22);

  padding-block: 1.5rem;
  padding-inline: 0.5rem;

  @include abs.breakpoint(medium) {
    padding-inline: abs.rem(22);
    padding-block: 2rem;
  }

  @include abs.breakpoint(xlarge) {
    width: 75%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    // grid-template-rows: repeat(6, min-content);
    grid-template-rows: auto auto 2fr 3fr auto auto;
    // grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "intro      intro"
      "skills     blog"
      "hobbies    blog"
      "hobbies    experience"
      "projectBar projectBar"
      "projects   projects";
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
  }
}

// Make images easier to work with

img,
picture {
  max-width: 100%;
  display: block;
}

// make form elements easier to work with
input,
button,
textarea,
select {
  font: inherit;
}

// Remove animations for people who've turned them off
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
