// Only for screen readers
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

// Accessibility feature for those using keyboard navigation
.skip-to-content {
	position: absolute;
	z-index: 2;
	background: var(--clr-light);
	color: var(--clr-dark);
	padding: 0.5em 1em;
	margin-inline: auto;
	transform: translateX(-100%);
	transition: transform 500ms ease-in-out;
}

.skip-to-content:focus {
	transform: translateX(0);
}