@use "../../sass/abstracts/" as abs;

.hobbies {
  grid-area: hobbies;

  display: flex;
  flex-direction: column;
  gap: abs.rem(24);

  &__container {
    display: flex;
    flex-direction: column;
    gap: abs.rem(24);

    @include abs.breakpoint(medium) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }

    @include abs.breakpoint(xlarge) {
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: start;
    }
  }
}
